# DATA SCRAPING

In this project, we will try to use python for data scraping from a website. What we need to do is :
1. Pick a table/data in a website (in this case we choose Wikipedia) that we want to get
2. Scraping it from html to python
3. Export it to local storage as csv file

# Library

In [1]:
from bs4 import BeautifulSoup #For parsing html documents
import requests
import pandas as pd #For data manipulation

## Part I : Pick a Table from the Website

Link : https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue

In [2]:
#Insert the website link where the table is located
url  = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url)

## Part 2 : Scraping Table from HTML Page to Python Worksheet

In [3]:
#Parsing the web page to html text
soup = BeautifulSoup(page.text, 'html')

#Finding the table html code
table = soup.find_all('table')[1] #[1] to specify what we're looking for is the first table out of all three tables

#Finding the columns html code
header = table.find_all('th') #th is html tag for table header or column
print(header)

[<th>Rank
</th>, <th>Name
</th>, <th>Industry
</th>, <th>Revenue <br/>(USD millions)
</th>, <th>Revenue growth
</th>, <th>Employees
</th>, <th>Headquarters
</th>]

From the table html code, we need to find the specific columns, rows, and data

In [4]:
#Removing the html tag for a cleaner result
header_table = [title.text.strip() for title in header]
print(header_table)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [5]:
#Using panda to convert the column list into a proper table
df = pd.DataFrame(columns = header_table)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [6]:
#Finding the table rows html code
find_row = table.find_all('tr') #tr is html tag for table rows

#Removing the html tag for a better preview
row_table = [row.text.strip() for row in find_row[1:20]] #Only preview the first twenty rows
print(row_table)

['1\n\nWalmart\n\nRetail\n\n611,289\n\n  6.7%\n\n2,100,000\n\nBentonville, Arkansas', '2\n\nAmazon\n\nRetail and cloud computing\n\n513,983\n\n  9.4%\n\n1,540,000\n\nSeattle, Washington', '3\n\nExxonMobil\n\nPetroleum industry\n\n413,680\n\n  44.8%\n\n62,000\n\nSpring, Texas', '4\n\nApple\n\nElectronics industry\n\n394,328\n\n  7.8%\n\n164,000\n\nCupertino, California', '5\n\nUnitedHealth Group\n\nHealthcare\n\n324,162\n\n  12.7%\n\n400,000\n\nMinnetonka, Minnesota', '6\n\nCVS Health\n\nHealthcare\n\n322,467\n\n  10.4%\n\n259,500\n\nWoonsocket, Rhode Island', '7\n\nBerkshire Hathaway\n\nConglomerate\n\n302,089\n\n  9.4%\n\n383,000\n\nOmaha, Nebraska', '8\n\nAlphabet\n\nTechnology and Cloud Computing\n\n282,836\n\n  9.8%\n\n156,000\n\nMountain View, California', '9\n\nMcKesson Corporation\n\nHealth\n\n276,711\n\n  4.8%\n\n48,500\n\nIrving, Texas', '10\n\nChevron Corporation\n\nPetroleum industry\n\n246,252\n\n  51.6%\n\n43,846\n\nSan Ramon, California', '11\n\nAmerisourceBergen\n\nPharmaceutical industry\n\n238,587\n\n  11.5%\n\n41,500\n\nChesterbrook, Pennsylvania', '12\n\nCostco\n\nRetail\n\n226,954\n\n  15.8%\n\n304,000\n\nIssaquah, Washington', '13\n\nMicrosoft\n\nTechnology and Cloud Computing\n\n198,270\n\n  18.0%\n\n221,000\n\nRedmond, Washington', '14\n\nCardinal Health\n\nHealthcare\n\n181,364\n\n  11.6%\n\n46,035\n\nDublin, Ohio', '15\n\nCigna\n\nHealth Insurance\n\n180,516\n\n  3.7%\n\n70,231\n\nBloomfield, Connecticut', '16\n\nMarathon Petroleum\n\nPetroleum industry\n\n180,012\n\n  27.6%\n\n17,800\n\nFindlay, Ohio', '17\n\nPhillips 66\n\nPetroleum industry\n\n175,702\n\n  53.0%\n\n13,000\n\nHouston, Texas', '18\n\nValero Energy\n\nPetroleum industry\n\n171,189\n\n  58.0%\n\n9,743\n\nSan Antonio, Texas', '19\n\nFord Motor Company\n\nAutomotive industry\n\n158,057\n\n  15.9%\n\n173,000\n\nDearborn, Michigan']

In [7]:
#Finding the data in the table
for row in find_row:
    data_table = row.find_all('td') #td is html tag for table data

#Removing the html tag for a better preview
individual_row_data = [data.text.strip() for data in data_table]
print(individual_row_data)

['100', 'Qualcomm', 'Technology', '44,200', '31.7%', '51,000', 'San Diego, California']

In [8]:
#Connecting the columns, rows, and data to make the final table 
for row in find_row[1:]: #1: to remove the [] in the first row
    data_table = row.find_all('td')
    individual_data_table = [data.text.strip() for data in data_table]
    length = len(df) #Identifying the length of the table
    df.loc[length] = individual_data_table #Fitting the data into particular rows and columns

In [9]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

## Part 3 : Exporting to CSV File

Finally we will export the table as csv file into local storage

In [10]:
#Exporting the table we got as csv file into local storage
df.to_csv(r'C:\Users\M S I\Documents\Project\Output\Company_list.csv', index = False) #excluding the index